* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  background: #0d0f14;
  color: #f0f2f7;
  direction: rtl;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
